h1 {
  font-family: 'Oswald', cursive;
}

.quote-box {
    min-height: 100px;
    min-width: 600px;
    background-color: #dfdbe5;
    margin: 10px 5%;
    text-color: black;
    text-align: center;
    font-family: 'Open Sans', monospace;
    padding: 10px;
    font-size: 2.5rem;
}


.btn{
    background-color: ;
}
body {
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
